* {
	// font-family: 'Indie Flower', cursive;
	font-family: 'Slackey', cursive;
}

img {
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
	opacity: 4;
	margin-top: 2%;
}
 .brand-logo img {
    // height: 60px;
    height: 5vw;
    width: 6vw;
    // width: 60px;
    position: relative;
}


.card-image {
	box-shadow: 0 2px 10px black;
}

.card {
	
	height: 580px;
	overflow: scroll;
}