   <footer class="page-footer container red darken-5">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">This is The End</h5>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Data provided by Marvel. © 2014 Marvel
            <!-- <a class="grey-text text-lighten-4 right" href="#/searchDatabase">...SEARCH</a> -->

            <a class="grey-text text-lighten-4 right" href="/#/searchDatabase">SEARCH</a>
            </div>
          </div>
        </footer>