<nav ng-controller="loginRegisterCtrl">
  <div class="nav-wrapper blue lighten-1">
          <a class="brand-logo">Yeeap</a>

        <ul id="nav-mobile" class="right">

          <li>
            <a ng-href="#/searchDatabase" ng-click="searchDatabase"><i class="material-icons left">search</i>Search Comics</a>
          </li>

          <!-- <li> -->
            <!-- <a ng-href="#/watchlist"><i class="material-icons left">local_movies</i>Watch List</a></li> -->
          <li >
            <a ng-href="#/logout" ng-click="logout()"><i class="material-icons left">perm_identity</i>Logout</a>
          </li>

          <li>
            <a ng-href="#/login" ng-click="login()"><i class="material-icons left">perm_identity</i>Login</a></li>

        </ul>
  </div>
</nav>


 