<!-- ============= SEARCH BAR ============= -->
<div class="row">
  <form id="databaseSearch remote">
   
    <input type="text" ng-model="comicToSearch" placeholder="Search characters by name..." class="col s9 offset-s1 typeahead">


    <button class="waves-effect waves-light btn-floating red darken-1 btn" 
    ng-click="searchDatabase(comicToSearch)"><i class="material-icons">search</i></button>

  </form>
</div>


<!-- ============= CARDS TO HOLD COMICS ============= -->

      <div class="row">
        <div class="col s4 " ng-repeat="comic in comics" on-last-repeat>
          <div class="card">

            <div class="card-image">

              <img class="materialboxed" data-caption="{{comic.title}}" width="650" ng-src="{{comic.thumbnail.path}}/portrait_incredible.{{comic.thumbnail.extension}}">
              <!-- <span class="card-title"><p><strong>{{comic.name}}</strong></p></span> -->
            </div>

            <div class="card-content">


                <!-- ************ for searching by characters ************* -->
               <!--  <span><h5><strong>{{comic.name}}</strong></h5></span>
                <p>{{comic.description}}</p> -->

                <!-- ************ for searching by comics **************** -->
                <span><h5><strong>{{comic.title}}</strong></h5></span>

                <!-- <div id="description" tabindex="0">{{comic.description}}</div> -->



                <p>{{comic.prices[0].type}}-{{comic.prices[0].price}}</p>
                <!-- <p>{{comic.prices[1].type}}-{{comic.prices[1].price}}</p> -->
                <!-- <p>{{comic.dates[0].type}}-{{comic.dates[0].date}}</p> -->
                <!-- <p>{{comic.format}}</p> -->



            <!--************* MODAL *************-->
            <!-- Modal Trigger -->
            <!-- <a class="btn-floating btn-medium waves-effect waves-light modal-trigger red" href="#modal1"><i class="material-icons">chat_bubble_outline</i></a> -->
            <!-- Modal Structure -->
            <!-- <div id="modal1" class="modal"> -->
              <!-- <div class="modal-content"> -->
                <!-- <div  class="modal-content">{{comic.description}}</div> -->
              <!-- </div> -->
            <!-- </div> -->
            <!--************* MODAL *************-->



                                          <!-- fake modal -->
              <div class="fakeModal" ng-init="checked = false">
                  <label>
                    <input type="checkbox" ng-model="checked" />
                    fake modal
                  </label>
                  <div class="content-area sample-show-hide" ng-show="checked">
                    {{comic.description}}
                    <!-- <button type="button" ng-init="checked = false" ng-model="checked">button</button> -->
                     <label>
                    <input type="checkbox" ng-model="checked" />
                    dismiss
                  </label>
                  </div>
              </div>
                        <!-- fake modal -->


                <!-- <p><a href="{{comic.resourceURI}}">resource</a></p> -->
                <a class="btn-floating btn-medium waves-effect waves-light blue lighten-1" ng-click="saveComic($index)"><i class="material-icons">stars</i></a>
                <!-- added stuff to save button -->
                <!-- <a class="btn-floating btn-medium waves-effect waves-light red" ng-click="deleteComic(comicId)"><i class="material-icons">not_interested</i></a> -->
            </div>

            <div class="card-action">
              <a ng-href="{{comic.urls[0].url}}">wiki</a>
            </div>
            
          </div>
        </div>
      </div>
            
